
body{
  background-color: #0D0D0D;
  color: white;
  width: auto;
  height: 100%;
  font-family: 'Encode Sans', sans-serif;
  font-size:25px;
}

.logo
{
  font-family: 'Fanwood Text','serif';  
  color: white;
  font-size: 30px;
  left: 15%;
  position: fixed;
  top: 5%;
  font-style: italic;
}

/* Navbar */
.navbar{
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-size: 40px;
  z-index: 10;
  top:20%;
  left: 320px;
  text-align: right;
  border-right: 2px solid white;
  height: 600px;
}

.navbar a{
  color: white;
  text-decoration: none;
  margin:30px;
}

.navbar a:after {    
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.navbar a:hover:after { 
  width: 100%; 
  left: 0; 
}

/* CV */
#CV{
  position: relative;
  left: -135px;
}

#CV a{
  color: orangered;
  text-decoration: none;
}

#CV a:after {    
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: rgb(179, 252, 255);
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

#CV a:hover:after { 
  width: 100%; 
  left: 0; 
}

.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
}


/* Pages */
.Home
{
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: left;
  flex-direction: column;
}
.about{
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  text-align: left;
}


.beforeProject{
    width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.projects{
width: 100%;
height: auto;
display: flex;
align-items: center;
justify-content: center;
flex-wrap: wrap;
}

.contacts{
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  }
  
.pictures{
  width:35%;
}


img{
  width: 1000px;
  padding-top:10px;
  padding-bottom:10px;
}


.icons {
  width: auto;
  height: auto;
  padding-top: 2%;
  margin-right: 40px;
}

.icons ul li {
  list-style-type: none;
  display: inline;
}

.icons img {
  width: 150px;
}


/* header from internet edited it https://codepen.io/mutedblues/pen/MmPNPG */
.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: black;
}

.header li a {
  display: block;
  padding: 20px 20px;

  text-decoration: none;
  color: orangered;
}

.header li a:hover,
.header .menu-btn:hover {
text-decoration: underline;
}


/* menu */

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
  display: none;
}

/* menu icon */

.header .menu-icon {
  cursor: pointer;
  display: none;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: white;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 20px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: white;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  display: flex;
  flex-direction: column;
  left: 63%;
  top: 8%;
  position: fixed;
  opacity: 80%;
}


.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}




/* MEDIA QUERIES */

/* Portrait */
@media only screen and (max-width:1750px){
body{
  font-size: 22px;

}
.Home{
  text-align: center;
}
.about
{
  text-align: center;
}
.projects{

  margin-bottom: 100%;
}
#CV{
  left: 1%;
}
.logo{
  position: absolute;
  left:8%;
  top:-2%;
}
.navbar{
  display: none;
}
.pictures{
  width:auto;
}
img{
  width: 300px;
}

.icons img {
  width: 75px;
}

.header li {
  float: left;
}
.header li a {
  padding: 20px 30px;
}
.header .menu {
  clear: none;
  float: right;
  max-height: none;

}

.header .menu-icon {
display: inline-block;
position: fixed;
left:81%;
top: 1em;
}



}


    

